.TechnologyCardContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.Body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 80%;
}

.AboutMe, .TechnologyStack, .Portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Portfolio {
    overflow-x: hidden;
    max-width: 100%;
}

.ProjectCardContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: nowrap;
}