.Link a {
    text-decoration: none;
    color: white;
    transition: color 0.5s linear;
}

.Link hr {
    margin-top: 0;
    padding-top: 0;
    width: 0;
    display: block;
    transition: width 0.25s linear, transform 0.5s linear, background-color 0.5s linear;
    transform-origin: center;
}

.Link:hover hr {
    background-color: var(--element_hover);
    width: 100%;
    transform: scaleX(1);
}