html {
  background-color: var(--background);
  min-width: 425px;
}

body {
  min-width: 425px;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: auto;
  align-items: center;
  cursor: default;
  overflow-y: hidden;
}

.Grayable {
  color: var(--text);
  cursor: default;
}

.Grayable:hover {
  color: var(--text_hover);
}

body{
}

span {
  cursor: default;
}

/* App.css */
.Hoverable:hover {
  color: var(--element_hover);
}

.Hoverable:hover a {
  color: var(--element_hover);
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--background_secondary);
}

*::-webkit-scrollbar-thumb {
  background: var(--element_hover);
}