.App {
  text-align: center;
  cursor: pointer;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

.Grayable {
  color: var(--text);
}

.Grayable:hover {
  color: var(--text_hover);
}

body{
}

span {
  cursor: default;
}

/* App.css */
.Hoverable:hover {
  color: var(--element_hover);
}

.Hoverable:hover a {
  color: var(--element_hover);
}