.App {
  text-align: center;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: auto;
  align-items: center;
  cursor: default;
  overflow-y: hidden;
}

.Grayable {
  color: var(--text);
  cursor: default;
}

.Grayable:hover {
  color: var(--text_hover);
}

body{
}

span {
  cursor: default;
}

/* App.css */
.Hoverable:hover {
  color: var(--element_hover);
}

.Hoverable:hover a {
  color: var(--element_hover);
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background: var(--background_secondary);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

html::-webkit-scrollbar-thumb {
  background: var(--element_hover);
}